.tasksWrap {
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 95px;
}

.tasksHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tasksTitleBlock {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    background: #207041;
    border-radius: 10px;
}

.tasksTitleWord {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    background: #F0F0E6;
    color: #DE0607;
    border-radius: 10px;
    font-size: 45px;
    font-weight: 800;
}

.availableBlock {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.availableText {
    color: #F0F0E6;
    font-family: "SFPRO";
    font-weight: 600;
    font-size: 20px;
}

.availableBorder {
    margin-top: 10px;
    background: linear-gradient(to right, #1E1E1E, #D42425, #1E1E1E);
    width: 100%;
    height: 2px;
}

.availableGroup {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "SFPRO";
    color: #DE0607;
    text-shadow: 2px 2px #000;
    font-weight: 700;
    font-size: 38px;

    span {
        font-size: 28px;
        margin-top: 6px;
    }
}

.romb {
    width: 45px;
    height: 45px;
}

.bowlBall {
    width: 30px;
    height: 30px;
}

.tasksBlock {
    margin-top: 20px;
    box-sizing: border-box;
    min-height: 240px;
    padding: 15px 10px;
    background: #1E1E1E;
    border-radius: 15px;
    border-bottom: 1px solid #DE0607;
    border-left: 1px solid #DE0607;
    box-shadow: 0px 0px 10px 1px #DE0607;
    position: relative;
    z-index: 22;
    width: 115%
}

.tasksTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "SFPRO";
    font-weight: 500;
    font-size: 24px;
    color: #F0F0E6;
}

.tasksList {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;

    &Item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 10px;
    }
}

.pawBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
    // img {
    //     width: 30px;
    //     height: 30px;
    // }
}

.tasksListItemGroup {
    display: flex;
    gap: 10px;
}

.tasksListItemTextGroup {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.tasksListItemTitle {
    color: #F0F0E6;
    font-size: 20px;
    font-family: "SFPRO";
    font-weight: 700;
}

.tasksListItemText {
    color: #BCBCBC;
    font-size: 16px;
    font-family: "SFPRO";
    font-weight: 700;
}

.claimBtn {
    display: flex;
    width: 70px;
    justify-content: start;
    align-items: center;
    padding: 5px 7px;
    border: 2px solid #DE0607;
    border-radius: 20px;
    color: #F0F0E6;
    font-size: 16px;
    font-family: "SFPRO";
    font-weight: 700;
}

.claimBtnDone {
    background: #DE0607;
    border-radius: 10px;
}

.tasksBlockGreen {
    border-color: #207041;
    box-shadow: 0px 0px 10px 1px #207041;

    .claimBtnDone {
        background: #207041;
    }

    .pawBlock {
        // background: #207041;
    }

    .claimBtn {
        border-color: #207041;
    }
}
