.MainCatImg {
    width: 270px;
    height: 270px;

    @media screen and (min-height:690px) {
        width: 280px;
        height: 280px;
    }

    @media screen and (min-height:760px) {
        width: 310px;
        height: 310px;
    }
}

.MainCatImgWrap {
    flex: 1;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}