@import url('./fonts.scss');

* {
  padding: 0;
  margin: 0;
}

body.Frens {
  background: #1E1E1E;

  .footer {
    z-index: 10;
    padding: 0 10px 10px 10px;
  }
}

body.Main {
  background: url('../assets/images/mainBg.webp');
  background-size: cover;
}

html {
  height: 100% !important;
}

html, body {
  height: 100% !important;
  overflow-x: hidden;
}

body.Tasks {
  background: #1E1E1E;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100% !important;
}

.footer {
  margin-top: 5px !important;
  margin: 0 -7px;
  background: #1E1E1E;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  display: none;
}

.footerVisible {
  display: block;
}

.toast {
  margin: 15px !important;
  width: calc(100% - 30px) !important;
}

.mainWrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 7px 7px 80px 7px;
  flex: 1;
  height: 100%;
} 

.frensBgItem {
  position: absolute;
  z-index: 0;
  width: 400px;
  height: 400px;
  right: -90px;
  bottom: 100px;
}

.tasksBgItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
}

.hidden {
  display: none;
}


.arrs {
  display: flex;
  gap: 7px;
  width: 130px !important;
  right: -30px;
  min-width: 140px;
  max-width: 140px;
  position: relative;
  box-shadow: 3px 3px 0 black;
  animation: anim 3s linear infinite;

  path.one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  path.two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  path.three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
  }

  @keyframes anim {
    0% {
      box-shadow: 3px 3px 0 black;
    }

    30% {
      box-shadow: 8px 8px 0 #2f3542;
    }

    40% {
      box-shadow: 3px 3px 0 black;
    }
  }
}


.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
}
.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center;
}