.PlayBlock {
    background-image: url("../../../../assets/images/minesPlayBg.webp");
    background-size: cover;
    min-height: 160px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}

.Mines {
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.MinesIco {
    width: 30px;
    height: 30px;
}

.MinesTitle {
    font-family: 'SFPRO';
    font-weight: 700;
    font-size: 16px;
    color: #F0F0E6;
}

.MinesGroup {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.MinesIco {
    width: 25px;
    height: 25px;
}

.gamesNum {
    font-family: 'SFPRO';
    font-weight: 600;
    font-size: 16px;
    color: #F0F0E6;
}

.Quest {
    position: absolute;
    right: 10px;
    width: 26px;
    height: 26px;
    top: 10px;
    font-family: "SFPRO";
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modalOverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12322;
    -webkit-backdrop-filter: blur(10px);
    background: rgba(21, 21, 21, 0.5);
    backdrop-filter: blur(25px);
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in;
}

.modalActive {
    opacity: 1;
    visibility: visible;
}

.modalBody {
    background: rgba(21, 21, 21, 0.7);
    position: relative;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    gap: 10px;
    margin: 0 20px 20px 20px
}

.modalText {
    font-family: "SFPRO";
    color: #fff;
    font-size: 16px;
}

.shadow1 {
    position: absolute;
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background: #FF0000;
    filter: blur(40px);
}

.shadow2 {
    position: absolute;
    right: -50px;
    bottom: -30px;
    width: 100px;
    height: 100px;
    background: #FF0000;
    filter: blur(35px);
}