.FooterMenu {
    height: 75px;
    background: #F0F0E6;
    border-radius: 15px;
    display: flex;
    position: fixed;
    bottom: 10px;
    width: calc(100% - 14px);
    left: 7px;
    z-index: 10;
}

.MenuItem {
    cursor: pointer;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: lowercase;
    font-size: 16px;
    color: #1E1E1E;
    text-decoration: none;
    width: 100%;
    font-weight: 700;
    font-family: "SFPRO";
    border-radius: 10px;
    transition: all .3s;

    svg {
        position: relative;
        z-index: 2;
    }

    &Active {
        color: #F0F0E6;
        // background: #1E1E1E;
        // box-shadow: 0px 4px 21.2px 0px #000000A6;

        & {
            svg {
                g {
                    rect {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.tasksTodo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF0000;
    font-family: "SFPRO";
    font-size: 10px;
    color: #F0F0E6;
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
    top: 3px;
    left: 67%;
    transform: translateX(-50%);
    min-width: 20px;
    min-height: 20px;
    z-index: 1;
}

.Border {
    transition: all .3s;
    z-index: 2;
    width: 33.333%;
    height: 100%;
    left: 0;
    position: absolute;
    border-radius: 10px;
    background: #1E1E1E;
    box-shadow: 0px 4px 21.2px 0px #000000A6;

}

.BorderLeft {
    left: 0;
}

.BorderRight {
    left: 100%;
    transform: translateX(-100%);
}

.BorderCenter {
    transform: translateX(-50%);
    left: 50%;
}


.Icon {
    width: 30px;
    height: 30px;
}